body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
  line-height: 1.1;
}

#colorDisplay {
  font-size: 200%;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background: blue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
}
